<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    {% block title %} {% endblock %}
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
{% block body %} {% endblock %}
    {% block javascripts %}

    {% endblock %}

</body>
</html>
