

<div class="col-md-3">
    <p class="lead">Categories</p>
    <div class="list-group">
        {% for categorie in categories %}
            <a href="{{ path('app_products_by_category', { 'id': categorie.id, 'page':1 }) }}" class="list-group-item">{{ categorie.title }}</a>
        {% endfor %}

    </div>
</div>

