<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Salut tout le monde</title>
    </head>
    <body>
        {% block titre %}
            <h1>Ceci est le titre de ma page mère</h1>
        {% endblock %}
    </body>
</html>
